.list__wrapper {
    /* border: 1px solid black; */
    width: 75%;
    position: relative;

    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    overflow: inherit;
}

.list__wrapper ul {
    /* border: 1px solid black; */

    display: block;
    flex-wrap: wrap;
    justify-content: center;
    overflow: inherit;
}

.list__item {
    margin-top: 20px;
    padding: 10px;
    background: lightsalmon;
    border: 4px solid black;
    border-radius: 6px;
    position: relative;
    /* cursor: pointer; */
    
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    overflow: inherit;
}

.list__item input[type="submit"] {
    border: 4px solid black;
    margin-left: 12px;
    background: oldlace;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    cursor: pointer;

    font-family: inherit;
    font-size: inherit;
    overflow: inherit;
}

.list__item input[type="submit"]:hover {
    background-color: navajowhite;
    border-radius: 20px;
    transition: .5s;
}

input[name="createEntrySubmit"] {
    position: relative;
    display: block;
}

input[name="createLoadingSubmit"] {
    position: absolute;
    top: 0%;
    left: 26%;
}

input[name="createUnloadingSubmit"] {
    position: absolute;
    top: 0%;
    right: 26%;
}

input[name="createExitSubmit"] {
    position: absolute;
    top: 0%;
    right: 0%;
}

.list__field {
    /* border: 1px solid black; */
    padding: 12px;
    text-align: left;
    border-left: 2px solid black;
    font-weight: 600;
    font-size: 20px;

    justify-content: left;
    flex-wrap: nowrap;
    display: flex;
    overflow: inherit;
}

#user__identifier.list__field  {
    width: 14%;
    border-left: transparent;
}

#user__full-name.list__field  {
    width: 26%;
}

#user__occupation.list__field  {
    width: 22%;
}

#user__status.list__field  {
    width: 18%;
}

#user__picture {
    background-image: url(../images/user.svg);
}

#occupation__identifier.list__field {
    width: 8%;
    border-left: transparent;
}

#occupation__title.list__field {
    width: 28%;
}

#occupation__description.list__field {
    width: auto;
}

#product__identifier.list__field {
    width: 12%;
    border-left: transparent;
}

#product__title.list__field {
    width: 16%;
}

#product__description.list__field {
    width: 40%;
}

#product__quantity.list__field {
    width: 10%;
}

#product__delete.list__field {
    justify-content: right;
    border-left: transparent;
    width: 65px;
}

#truck__identifier.list__field {
    width: 16%;
    border-left: transparent;
}

#truck__model.list__field {
    width: 44%;
}

#truck__host.list__field {
    width: 20%;
}

#truck__picture {
    background-image: url(../images/truck.svg);
}

#truck__delete {
    border-left: transparent;
    width: 170px;
    justify-content: right;
}

#request__identifier.list__field {
    width: 16%;
    border-bottom: 2px solid black;
    border-left: transparent;
}

#request__truck-model.list__field {
    width: 54%;
    border-bottom: 2px solid black;
}

#request__topic.list__field {
    width: 14%;
    border-bottom: 2px solid black;
}

#request__sent-date.list__field {
    width: 16%;
    border-left: transparent;
}

#request__resolver.list__field {
    width: 54%;
}

#request__status.list__field {
    width: auto;
}

#request__picture {
    background-image: url(../images/request.svg);
}

#list__delete-submit {
    /* border: 2px solid black; */
    border-radius: 16px;
    margin: 0px;
    margin-left: 10px;
    padding: 0px;
    background: oldlace;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/delete.svg);
    width: 45px;
    height: 45px;
    cursor: pointer;

    overflow: inherit;
}

#list__delete-submit:hover {
    border-radius: 100%;
    background: tomato;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/delete.svg);
    cursor: pointer;
    transition: 0.5s;

    overflow: inherit;
}