@font-face { 
	font-family: 'montserrat';
	src: url('../fonts/montserrat.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat';
}

body {
	/* background: linear-gradient(135deg, tomato, lightsalmon); */
	margin: 0;
	padding: 0;
    background-image: linear-gradient(90deg, #ff9966, #ff5e62);
	height: 80px;
	overflow: hidden;
}

.login__wrapper {
	/* border: 1px black solid; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	background: white;
	border-radius: 25px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.login__wrapper h1 {
	text-align: center;
	padding: 20px 0;
	border-bottom: 2px solid black;
}

.login__content {
	padding: 0 40px;
	box-sizing: border-box;
}

.login__field {
    position: relative;
	border-bottom: 2px solid black;
	margin: 30px 0;
}

.login__field input {
	width: 100%;
	padding: 0 6px;
	height: 40px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.login__field label {
    position: absolute;
	top: 50%;
	left: 6px;
	color: black;
	transform: translateY(-50%);
	font-size: 16px;
	font-weight: 500;
	pointer-events: none;
	transition: .5s;
}

.login__field span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: orangered;
	transition: .5s;
}

.login__field input:focus ~ label,
.login__field input:valid ~ label {
	top: -5px;
    color: orangered;
}

.login__field input:focus ~ span::before,
.login__field input:valid ~ span::before {
	width: 100%;
    height: 2px;
}

input[type="submit"] {
	width: 100%;
	height: 50px;
	border: 2px solid;
	background: tomato;
	border-radius: 25px;
	font-size: 18px;
	color: white;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	margin-bottom: 24px;
}

input[type="submit"]:hover {
	background: linear-gradient(90deg, tomato, lightsalmon);
	transition: .5s;
}