.profile__wrapper {
    font-family: 'Montserrat';
    text-align: center;
    text-decoration: none;
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.profile__wrapper h1 {
    padding: 20px;
    font-size: 28px;
    width: 100%;
    font-weight: bold;
    /*border: 1px solid black;*/
}

.profile__wrapper form {
    width: 60%;
    background: lightsalmon;
    border: 4px solid black;
    border-radius: 6px;

    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    overflow: inherit;
}

.profile__list {
    width: 100%;
    
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    overflow: inherit;
}

.profile__item {
    padding: 10px;
    /*border: 1px solid black;*/
    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow: inherit;
}

.profile__item input[type="submit"] {
    /*border: 1px solid black;*/
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 200px;
    background: oldlace;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid transparent;
    cursor: pointer;

    font-family: inherit;
    font-size: inherit;
    overflow: inherit;
}

.profile__item input[type="submit"]:hover {
    background: navajowhite;
    font-weight: 700;
    border-radius: 18px;
    font-size: 18px;
    transition: .5s;
}

.profile__field {
    width: 50%;
    padding: 10px;
    text-align: left;
    /*border: 1px solid black;*/
    font-weight: 600;
    font-size: 20px;

    flex-wrap: wrap;
    display: flex;
    overflow: inherit;
}

.profile__field label {
    /*border: 1px solid black;*/
    padding-top: 6px;

    font-weight: inherit;
    font-size: inherit;
    overflow: inherit;
}

.profile__field input[type="text"] {
    padding: 6px;
    height: 40px;
    background: oldlace;
    font-family: 'Montserrat';
    border-radius: 6px;
    border: 1px solid transparent;
    /*border: 1px solid black;*/

    font-weight: inherit;
    font-size: inherit;
    overflow: inherit;
}

.profile__blocked-field {
    width: 50%;
    padding: 10px;
    text-align: left;
    /*border: 1px solid black;*/
    font-weight: 600;
    font-size: 20px;

    flex-wrap: wrap;
    display: flex;
    overflow: inherit;
}

.profile__field label {
    /*border: 1px solid black;*/
    padding-top: 6px;

    font-weight: inherit;
    font-size: inherit;
    overflow: inherit;
}

.profile__blocked-field input[type="text"] {
    padding: 6px;
    height: 40px;
    color: dimgray;
    background: lightgray;
    font-family: 'Montserrat';
    border-radius: 6px;
    border: 1px solid transparent;
    /*border: 1px solid black;*/
    pointer-events: none;

    font-weight: inherit;
    font-size: inherit;
    overflow: inherit;
}

.profile__trucks__wrapper {
    font-family: 'Montserrat';
    text-align: center;
    text-decoration: none;
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid black;*/

    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.profile__trucks__wrapper h1 {
    padding: 20px;
    font-size: 28px;
    width: 100%;
    font-weight: bold;
    /*border: 1px solid black;*/
}

.profile__trucks__wrapper form {
    width: 60%;
    /*border: 1px solid black;*/

    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    overflow: inherit;
}

.profile__trucks__wrapper form input[type="submit"] {
    border: 4px solid black;
    padding: 10px;
    margin: 10px;
    height: 50px;
    width: 200px;
    background: lightsalmon;
    font-weight: 600;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;

    font-family: inherit;
    font-size: inherit;
    overflow: inherit;
}

.profile__trucks__wrapper form input[type="submit"]:hover {
    background: navajowhite;
    font-weight: 700;
    border-radius: 18px;
    font-size: 16px;
    transition: .5s;
}

.profile__trucks__list {
    /*border: 1px solid black;*/
    width: 100%;
    
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    overflow: inherit;
}

.profile__trucks__item {
    margin-bottom: 20px;
    padding: 10px;
    background: lightsalmon;
    border: 4px solid black;
    border-radius: 6px;
    position: relative;
    cursor: pointer;
    
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    overflow: inherit;
}

.profile__trucks__item:hover {
    background: bisque;
    transition: .5s;
}

.profile__trucks__field {
    /*border: 1px solid black;*/
    padding: 8px;
    text-align: left;
    border-right: 2px solid black;
    font-weight: 600;
    font-size: 16px;
    

    flex-wrap: nowrap;
    display: flex;
    overflow: inherit;
}

#identifier.profile__trucks__field  {
    width: 16%;
}

#model.profile__trucks__field  {
    width: 70%;
}

#status.profile__trucks__field  {
    width: 14%;
    border-right: 1px transparent;
}